* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.books {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 20%;
    height: auto;
    border-radius: .3rem;
    border: 1px solid #0900ff;
    margin: 1rem;
    transition: .5s ease;
}

.card:hover {
    box-shadow: 3px 3px 15px 0 darkblue;
}

.img-div {
    border-bottom: 1px solid blue;
}

.read {
    position: absolute;
    border: none;
    border-radius: 2rem;
    width: 40px;
    height: 40px;
    color: white;
    background: none;
    font-size: 20px;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    z-index: 2;
}

.img {
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
    position: relative;
}

.name {
    padding: 0 1rem;
    font-size: 20px;
}

.description {
    font-size: 13px;
    padding: 0 .4rem;
    border-bottom: 1px solid gray;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author {
    font-size: 15px;
    color: rgba(54, 0, 255, 0.67);
    padding: 0 1rem;
}

.grade {
    width: 40%;
    justify-content: end;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.number {
    color: #2a2a2a;
}

.icon {
    color: #ffdc00;
}

.btn-download {
    margin-right: .7rem;
    border: none;
    border-radius: .2rem;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 255, 0.76);
    color: white;
    font-size: 16px;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-download:hover {
    background: rgba(0, 0, 255, 0.86);
    box-shadow: 1px 1px 10px 0 rgba(84, 78, 78, 0.76);
}

.btn-download:active {
    background: rgba(0, 0, 255, 0.96);
    box-shadow: 1px 1px 10px 0 rgb(1, 13, 59);
}

@media screen and (min-width: 1221px) {

    .book {
        width: 22%;
    }
}

@media screen and (max-width: 1220px) {
    .book {
        width: 30%;
    }
}

@media screen and (max-width: 961px) {
    .book {
        width: 40%;
    }
}

@media screen and (max-width: 564px) {
    .book {
        width: 80%;
    }
}